# Dependencies
node_modules/

# Environment Variables
.env
.env*.local

# Flutter/Dart
frontend/build/
frontend/.dart_tool/
frontend/.pub-cache/
frontend/.pub/
frontend/android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Direktori konfigurasi yang dibuat oleh IDE Android Studio
.idea/
*.iml
/generated/prisma

# Direktori dan file yang tidak diperlukan
text
PADi_dump_terakhir.sql